{% include 'header.html' %}
{% from "_formhelpers.html" import render_field %}
{% include 'navbar.html' %}
{% include '_messages.html' %}


    <div class="cont-flip">
    <h1 class="bg-info text-center" style="font-family: 'Amatic SC', cursive;
font-family: 'Concert One', cursive;">Register</h1>
        </div>
<div class="container reveal">
    <form action="" method="post">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-md-4">
                {{ render_field(form.name, class="form-control") }}
                {{ render_field(form.username, class="form-control") }}
                {{ render_field(form.email, class="form-control")}}
                {{ render_field(form.password, class="form-control") }}
                {{ render_field(form.confirm, class="form-control") }}
            </div>
            <div class="col-md-4">
                {{ render_field(form.country, class="form-control") }}
                {{ render_field(form.state, class="form-control") }}
                {{ render_field(form.city, class="form-control") }}

            </div>
            <div class="col-md-4">
                {{ render_field(form.phone, class="form-control") }}
                {{ render_field(form.zipcode, class="form-control") }}
                {{ render_field(form.address, class="form-control") }}

            </div>
            <div class="col-md-12">
                {{ form.submit(class='btn btn-sm btn-info float-right') }}
            </div>
        </div>
    </form>
</div>
{% include 'footer.html' %}
