
.carousel-inner > .item > img {
    width:640px;
    height:360px;
  }

  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  h1 {
    font-family: 'Delius', cursive;
    text-align:center; margin-top: 20px; 
    font-size: 45px;
    color: #445D48;
  }
  p{
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'Delius';
    font-size: 25px;
  }

  .flashes{
    font-family: 'Delius', cursive;

  }